<h3>Créer un Reservation</h3>
<div class="dialog-content">
  <form [formGroup]="eventForm" style="zoom: 80%;" (ngSubmit)="onSave()">
    <div class="form-field full-width circular-input">
      <label for="SalleId"><i class="icon">🪪</i>Choisir une Salle*</label>
      <select id="SalleId" formControlName="SalleId" required>
        <option *ngFor="let salle of Salle_DATA" [value]="salle._id">{{ salle.SalleName }} {{ salle.SalleNumber }}</option>
      </select>
    </div>

    <div class="form-group">
      <div class="form-field half-width circular-input">
        <label for="hour"><i class="icon">🕒</i>Heure*</label>
        <input matInput type="time" id="hour" formControlName="hour" min="10:00" max="19:00" required>
        <span class="validity"></span>
      </div>

      <div class="form-field half-width circular-input">
        <label for="date"><i class="icon">📅</i>Date*</label>
        <input matInput [matDatepicker]="picker" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div style="color: red; font: 1em sans-serif;" *ngIf="hour?.invalid && (hour!.dirty || hour!.touched)">
        <!-- <div *ngIf="hour?.errors?.['required']">
            L'heure est requise.
        </div> -->
        <div *ngIf="hour?.errors?.['timeRange']">
          L'heure doit être comprise entre 10:00 et 19:00.
        </div>
      </div>

    </div>

    <div class="form-field full-width circular-input">
      <label for="UserId"><i class="icon">🪪</i>Choisir une Utilisateurs*</label>
      <select id="UserId" formControlName="UserId" required>
          <option *ngFor="let user of USER_DATA" [value]="user._id">{{ user.name }}</option>
      </select>
  </div>

  
    <div class="form-field full-width circular-input">
      <label for="note"><i class="icon">📝</i>Note</label>
      <textarea id="note" formControlName="note" required></textarea>
    </div>

    <div class="dialog-actions">
      <button class="cancel-button" type="button" (click)="onNoClick()">Annuler</button>
      <button class="save-button" type="submit">Sauvegarder</button>
    </div>
  </form>
</div>