<body>
   <div class="wrapper">
      <div class="title">
       Connexion
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
         <div class="field">
            <input type="text" formControlName="email" required>
            <label>Adresse Email</label>
         </div>
         <div class="field">
            <input type="password" formControlName="password" required>
            <label>Mot de Passe</label>
         </div>
         <!-- <div class="content">
            <div class="checkbox">
               <input type="checkbox" id="remember-me" >
               <label for="remember-me">Se souvenir de moi</label>
            </div>
         </div> -->
         <div class="field">
            <input type="submit" value="Connexion" [disabled]="loginForm.invalid">
         </div>
      </form>
   </div>
 </body>
 