/* styles.css */
.event-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-color: #f5f5f5;
  }
  
  .task-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  
    padding: 20px;
    box-sizing: border-box;
  }
  
  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .task-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .task-header h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .task-actions {
    display: flex;
    gap: 5px;
  }

  
  
  .task-details {
    margin-top: 10px;
    color: black;
  }
  
  .task-description {
    margin: 0 0 10px 0;
  }
  
  
.circular-input input,
.circular-input select,
.circular-input textarea {
    margin-right: 5px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
  }
  





  .form-field {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .form-field label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 10px; 
  }
  
  .form-field label .icon {
    margin-right: 8px;
  }



  .save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin-left: 8px;
    background-color: rgb(71, 71, 255);
    color: white;
  }

  
  
  .task-actions .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .task-actions .btn {
    background-color: #f1f1f1;
    color: black;
  }
  
  .task-actions .btn:hover {
    background-color: #c2c2c2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  


  