<a class="logo .icon">
    <img class="icon" src="/assets/icons/frstdio.ico" alt="">
    <div class="logo-name"><span>Feryel </span>studio</div>
</a>
<ul class="side-menu">
    <li class="active"><a routerLink="/"><i class='bx bx-calendar'></i>Calendrier</a></li>
    <li><a routerLink="/users-management"><i class='bx bx-group'></i>Utilisateurs</a></li>
</ul>
<ul class="side-menu">
    <li>
        <a  class="logout" (click)="Logout()">
            <i class='bx bx-log-out-circle'></i>
            Déconnexion
        </a>
    </li>
</ul>






<!-- </i> -->
<!-- <i class='bx bxl-foursquare'> -->
<!-- 
<div class="logo-container">
    <div class="logo-main">
      <div class="logo-line"><span class="bold-text">FERYEL</span> <span class="dot"></span></div>
      <div class="logo-line"><span class="bold-text">STUDIO</span></div>
    </div>
    <div class="logo-subtext">MAKE UP STUDIO</div>
  </div> -->
<!-- <li><a href="#"><i class='bx bx-store-alt'></i>Shop</a></li>
    <li class="active"><a href="#"><i class='bx bx-analyse'></i>Analytics</a></li>
    <li><a href="#"><i class='bx bx-message-square-dots'></i>Tickets</a></li> -->
<!-- <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li> -->