<a class="logo .icon">
   <br> <i class='bx bxs-school'></i>
    <div class="logo-name"><br><span>Reserver </span>Salle</div>
</a>

<ul class="side-menu">
    <li class="active"><a routerLink="/"><i class='bx bx-calendar'></i>Calendrier</a></li>
    <li *ngIf="userService.isAdmin()"><a routerLink="/users-management"><i class='bx bx-group'></i>Utilisateurs</a></li>
    <li *ngIf="userService.isAdmin()"><a routerLink="/salle"><i class='bx bx-door-open'></i>Salle</a></li>
</ul>


<ul class="side-menu">
    <li>
        <a class="logout" (click)="Logout()">
            <i class='bx bx-log-out-circle'></i>
            Déconnexion
        </a>
    </li>
</ul>
